In [1]:
import pandas
import numpy

In [2]:
data = pandas.read_csv("../../Dataset/Covid/Pengunjung tempat di Indonesia.csv")

In [3]:
data

,Entity,Code,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
0,Afghanistan,AFG,2020-02-17,0.000,4.000,1.333,5.667,1.000,-6.333
1,Afghanistan,AFG,2020-02-18,0.750,4.250,0.750,6.500,1.500,-3.250
2,Afghanistan,AFG,2020-02-19,0.400,4.000,0.800,5.200,1.400,-1.600
3,Afghanistan,AFG,2020-02-20,0.000,3.833,0.833,5.000,1.000,-0.333
4,Afghanistan,AFG,2020-02-21,0.000,4.571,0.714,5.286,1.429,0.571
...,...,...,...,...,...,...,...,...,...
127867,Zimbabwe,ZWE,2022-10-11,135.000,140.143,11.571,154.571,259.429,110.286
127868,Zimbabwe,ZWE,2022-10-12,133.857,138.429,11.571,153.286,258.571,110.143
127869,Zimbabwe,ZWE,2022-10-13,133.000,137.286,11.714,152.857,258.429,109.429
127870,Zimbabwe,ZWE,2022-10-14,132.714,137.429,11.857,153.000,258.000,108.857
127871,Zimbabwe,ZWE,2022-10-15,132.429,138.000,11.857,153.286,259.857,109.286

In [4]:
data_indonesia = data[data["Entity"]=="Indonesia"]

In [8]:
data_indonesia = data_indonesia.reset_index()

In [10]:
data_indonesia = data_indonesia.drop("index", axis=1)

In [11]:
data_indonesia

,Entity,Code,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
0,Indonesia,IDN,2020-02-17,-2.667,-3.000,1.333,-1.333,-7.333,3.333
1,Indonesia,IDN,2020-02-18,-2.750,-2.750,1.250,-0.750,-6.500,3.000
2,Indonesia,IDN,2020-02-19,-2.800,-3.000,1.200,-0.600,-5.800,2.600
3,Indonesia,IDN,2020-02-20,-2.667,-2.667,1.167,0.167,-5.000,2.333
4,Indonesia,IDN,2020-02-21,-2.571,-2.714,1.143,0.429,-5.000,2.714
...,...,...,...,...,...,...,...,...,...
967,Indonesia,IDN,2022-10-11,11.571,30.571,13.714,-4.286,38.714,10.571
968,Indonesia,IDN,2022-10-12,11.143,29.714,13.714,-4.571,39.143,10.571
969,Indonesia,IDN,2022-10-13,11.143,29.429,13.571,-4.857,39.714,10.429
970,Indonesia,IDN,2022-10-14,11.286,29.286,13.571,-5.571,40.000,10.714
971,Indonesia,IDN,2022-10-15,11.000,29.143,13.143,-6.429,37.571,16.429

In [12]:
data_indonesia.to_csv("Data pengunjung di Indonesia.csv")