In [1]:
import pandas
import numpy

In [4]:
data_17_19 = pandas.read_excel("../../Dataset/Banjir/Jumlah Penduduk Provinsi DKI Jakarta Menurut Kelompok Umur dan Jenis Kelamin_17_19.xlsx")
data_20_22 = pandas.read_excel("../../Dataset/Banjir/Jumlah Penduduk Provinsi DKI Jakarta Menurut Kelompok Umur dan Jenis Kelamin_20_22.xlsx")

In [3]:
data_17_19

,Kelompok Umur,Jumlah Penduduk Provinsi DKI Jakarta Menurut Kelompok Umur dan Jenis Kelamin,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Laki-laki,NaN,NaN,Perempuan,NaN,NaN,Jumlah,NaN,NaN
1,NaN,2017,2018.0,2019.0,2017,2018.0,2019.0,2017,2018.0,2019.0
2,0-4,469474,461794.0,453157.0,451698,444147.0,435687.0,921172,905941.0,888844.0
3,5-9,462880,472159.0,478490.0,443590,455206.0,462403.0,906470,927365.0,940893.0
4,10-14,386448,394643.0,404210.0,364431,370999.0,380844.0,750879,765642.0,785054.0
5,15-19,349592,355617.0,362525.0,353585,354567.0,357569.0,702177,710184.0,720094.0
6,20-24,385796,372793.0,362699.0,430891,411459.0,393490.0,816687,784252.0,756189.0
7,25-29,490657,468262.0,445352.0,509704,497588.0,483771.0,1000361,965850.0,929123.0
8,30-34,529175,523215.0,515860.0,509994,508986.0,507359.0,1039169,1032201.0,1023219.0
9,35-39,488747,495643.0,501470.0,467510,475638.0,482121.0,956257,971281.0,983591.0
10,40-44,419783,429869.0,439041.0,401383,412091.0,422799.0,821166,841960.0,861840.0
11,45-49,352944,362091.0,371257.0,340999,349920.0,359079.0,693943,712011.0,730336.0
12,50-54,286637,296955.0,307256.0,285145,293992.0,302979.0,571782,590947.0,610235.0
13,55-59,221037,230049.0,239492.0,227287,236745.0,246068.0,448324,466794.0,485560.0
14,60-64,158790,167221.0,175601.0,162137,173024.0,183612.0,320927,340245.0,359213.0
15,65+,200855,214379.0,228911.0,224066,238577.0,254708.0,424921,452956.0,483619.0
16,Jumlah,5202815,5244690.0,5285321.0,5172420,5222939.0,5272489.0,10374235,10467629.0,10557810.0
17,Jumlah Penduduk Provinsi DKI Jakarta Menurut K...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Source Url: https://jakarta.bps.go.id/indicato...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Access Time: June 25, 2023, 6:47 pm",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_20_22

,Kelompok Umur,Jumlah Penduduk Provinsi DKI Jakarta Menurut Kelompok Umur dan Jenis Kelamin,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Laki-laki,NaN,NaN,Perempuan,NaN,NaN,Jumlah,NaN,NaN
1,NaN,2020,2021.0,2022.0,2020,2021.0,2022.0,2020,2021.0,2022.0
2,0-4,341196,409299.0,409361.0,319822,389749.0,388746.0,661018,799048.0,798107.0
3,5-9,461099,409708.0,403671.0,432664,391131.0,384802.0,893762,800839.0,788473.0
4,10-14,450271,416558.0,407784.0,424594,396706.0,389405.0,874865,813264.0,797189.0
5,15-19,424040,425852.0,421727.0,401788,408996.0,409108.0,825828,834848.0,830835.0
6,20-24,417744,432874.0,434095.0,400325,421508.0,428395.0,818069,854382.0,862490.0
7,25-29,418669,435503.0,432458.0,416968,423712.0,422522.0,835638,859215.0,854980.0
8,30-34,434102,445591.0,431768.0,427007,437712.0,424379.0,861109,883303.0,856147.0
9,35-39,490160,440327.0,435443.0,484197,433312.0,429914.0,974357,873639.0,865357.0
10,40-44,458286,431464.0,424465.0,455099,425462.0,422649.0,913386,856926.0,847114.0
11,45-49,406222,396281.0,401285.0,393122,391664.0,400759.0,799344,787945.0,802044.0
12,50-54,344192,342251.0,353772.0,326379,338140.0,351290.0,670571,680391.0,705062.0
13,55-59,261019,280483.0,294139.0,265384,280101.0,293707.0,526403,560584.0,587846.0
14,60-64,182138,208315.0,225304.0,195498,213962.0,230377.0,377636,422277.0,455681.0
15,65+,245643,288242.0,325748.0,284460,329873.0,371157.0,530102,618115.0,696905.0
16,Jumlah,5334781,5362748.0,5401020.0,5227307,5282028.0,5347210.0,10562088,10644776.0,10748230.0
17,Jumlah Penduduk Provinsi DKI Jakarta Menurut K...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Source Url: https://jakarta.bps.go.id/indicato...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Access Time: June 25, 2023, 6:47 pm",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
kolom = ["2017","2018","2019","2020","2021","2022"]
data  = pandas.DataFrame(columns=kolom)

In [ ]:
data = data.append({
    "2017":,
    "2018":,
    "2019":,
    "2020":,
    "2021":,
    "2022":,
},ignore_index=True)